version: "3.9"

services:
  db:
    image: postgres:15
    container_name: scraper_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    container_name: scraper_api
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db

  scraper:
    build:
      context: .
      dockerfile: docker/scraper/Dockerfile
    container_name: scraper_dynamic
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      SEARCH_TERM: laptop
      MAX_PAGES: 2
    depends_on:
      - db

  scheduler:
    build:
      context: .
      dockerfile: docker/scheduler/Dockerfile
    container_name: scraper_scheduler
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      SCRAPE_INTERVAL: 30
    depends_on:
      - db

volumes:
  postgres_data:
